<md-toolbar *ngIf="authService.isLoggedIn">
    <div style="margin:0 5px;">LOGO</div>
    <button md-button color="primary">CALENDAR</button>
    <button md-button color="primary">CUSTOMERS</button>
    <button md-button color="primary" routerLink="/business" routerLinkActive="active">BUSINESS</button>
    <button md-button color="primary" routerLink="/" routerLinkActive="active" *ngIf="!authService.isLoggedIn">LOGIN</button>
    <a md-button color="primary" (click)="logout()" *ngIf="authService.isLoggedIn">LOGOUT</a>
    <p style="margin-left:1rem; font-size:12pt;" *ngIf="authService.isLoggedIn"> You are logged in as: {{authService.email}}</p>
</md-toolbar>
    <router-outlet></router-outlet>
