<form class="well" (ngSubmit)="addEmployee()" #employeeform="ngForm">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="First Name" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="Last Name" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
    </md-input-container></td>
  </tr></table>
 <button md-raised-button type="submit">ADD</button>
</form>

<md-list>
  <h3 md-subheader>Active Employees</h3>
  <md-list-item *ngFor="let employee of employees">
    
    <h4> {{employee.firstName}} {{employee.lastName}} <button md-mini-fab (click)="deleteEmployee(employee._id)"><md-icon>delete</md-icon></button> </h4> 

  </md-list-item>

</md-list>
