<form class="well" (ngSubmit)="addEmployee()" #employeeform="ngForm">
      <div class="form-group">
        <input type="text" [(ngModel)]="model.firstName" name="firstName" class="form-control" placeholder="FirstName" #firstName="ngModel">    
      </div> 
      <div class="form-group">
        <input type="text" [(ngModel)]="model.lastName" name="lastName" class="form-control" placeholder="LastName"  #lastName="ngModel">    
      </div> 
      <div class="form-group">
        <input type="text" [(ngModel)]="model.companyID" name="companyID" class="form-control"  #companyID="ngModel">   
      </div>
      <button type="button" (click)="addEmployee()" >Save</button>   
</form>

<div class="task-list">
    <div *ngFor="let employee of employees">
        <div class="col-md-1">
            <input type="checkbox" (click)="updateStatus(employee)">
        </div>
        <div class="col-md-7">
            {{employee.firstName}} {{employee.lastName}} {{employee.companyID}}
        </div> 
        <div class="col-md-4">
            <input type="button" (click)="deleteEmployee(employee._id)" value="Delete" class="btn btn-danger">    
        </div>
        <br><br>
    </div>
</div>