<div class="middlescreen">

  <form class="well">
    <p style="text-align: center">Please log in below to access the application</p>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container floatPlaceholder="always" class="example-full-width">
            <input mdInput placeholder="Login" #username>
          </md-input-container>
        </td>
        <td>
          <md-input-container floatPlaceholder="always" class="example-full-width">
            <input mdInput placeholder="Password" type="password" #password>
          </md-input-container>
        </td>
      </tr>
      <tr align="center">
            <button style="position:relative; left: 50%;" md-raised-button (click)="logme(username.value, password.value)" *ngIf="!authService.isLoggedIn">Login</button>
      </tr>
    </table>

  </form>
</div>
<style>
  .middlescreen {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>